body{
	text-align: center;
    margin: 0 auto;
	display: block;
	height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif;
}

button{
	margin: 0 auto;
	margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
 #form{	
    font-family: 'Raleway', sans-serif;
    width: 200px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}
 